<form action="/users/forgot" method="post">
    <table>
        <tr>
            <input type="text", name="email", placeholder="Email address">
        </tr>
    </table>
    <input type="submit" value="submit">
</form>
