

    <table>
        <tr>
            <input type="text", id="name", placeholder="name">
        </tr>
        <tr>
            <input type="text", id="arabic_name", placeholder="arabic name">
        </tr>
        <tr>
            <td><input type="text", id="description", placeholder="description"></td>
        </tr>
        <tr>
            <input type="text", id="arabic_description", placeholder="arabic description">
        </tr>
        <tr>
            <input type="text", id="model", placeholder="models">
        </tr>
    </table>
    <input type="submit" name="submit" id="submitButton" value="submit">
    <script src="/updateProdAdminSocket.js"></script>