<form action="/users/register" method="post">
    <table>
        <tr>
            <input type="text", name="first_name", placeholder="First Name">
        </tr>
        <tr>
            <input type="text", name="last_name", placeholder="Last Name">
        </tr>
        <tr>
            <input type="text", name="mobile", placeholder="Mobile No">
        </tr>
        <tr>
            <input type="email", name="email", placeholder="Email address">
        </tr>
        <br /> <br />
        <tr>
            <input type="text", name="company_name", placeholder="Company Name (Optional)">
        </tr>
        <tr>
            <input type="password", name="password", placeholder="Password">
        </tr>
         <tr>
            <input type="password", name="c_password", placeholder="Confirm Password">
        </tr>
    </table>
    <input type="submit" value="submit">
</form>
