<form action="/users/verification" method="post">
    <table>
        <tr>
            <input type="text", name="email", placeholder="Email address">
        </tr>
        <tr>
            <input type="password", name="password", placeholder="Password">
        </tr>
        <tr>
            <input type="text", name="code", placeholder="Verification Code">
        </tr>
    </table>
    <input type="submit" value="submit">
</form>